<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <div class="sidebar col-sm-2">
        <%- include('../partials/sidebar'); %>
      </div>

      <div class="content col-sm-10">
        <h1><%= restaurantinstance.restaurant.name %></h1>

        <% if (restaurantinstance.restaurant.cuisine.length > 1) { %>
          <p>Cuisines: 
            <% restaurantinstance.restaurant.cuisine.forEach((cuisine, index) => { %>
              <span><%= cuisine.name %></span>
              <!-- Add separation between multiple cuisines -->
              <% if (index < restaurantinstance.restaurant.cuisine.length - 1) { %>
                <span>, </span>
              <% } %>
            <% }); %>
          </p>
        <% } else if (restaurantinstance.restaurant.cuisine.length === 1) { %>
          <p>Cuisine: 
            <% restaurantinstance.restaurant.cuisine.forEach((cuisine) => { %>
              <span><%= cuisine.name %></span>
            <% }); %>
          </p>
        <% } else { %>
          <p>None</p>
        <% } %>

        <p>Address: <%= restaurantinstance.address %></p>

        <% if (restaurantinstance.rating) { %>
          <p>Rating: <%= restaurantinstance.rating %></p>
        <% } %>

        <% if (restaurantinstance.price) { %>
          <p>Price: <%= restaurantinstance.price %></p>
        <% } %>

        <p>Summary: <%= restaurantinstance.restaurant.summary %></p>  

        <hr>
        <p>Do you really want to delete this Restaurant Instance?</p>
        <form method="POST" action="">
          <div class="form-group">
            <input id="restaurantinstanceid" class="form-control" type="hidden" name="restaurantinstanceid" required="true" value="<%= restaurantinstance._id %>">
          </div>
          <button class="btn btn-primary" type="submit">Delete</button>
        </form>

      </div>
    </div>
  </div>
</body>
</html>
